{% extends "base.html" %}
{% load static %}

{% block content %}

<head>

    <link href="{% static 'css/support.css' %}" rel="stylesheet">
    <link href="{% static 'css/home.css' %}" rel="stylesheet">
    <title>关于矢量化团队，自主研发，拥有自主技术 - Vectorizer.cn</title>
    <meta name="description" content="关于矢量化团队">
</head>
<main>
    <div class="ok-support-container">
        <h1 class="ok-front-main-title">关于我们</h1>
        <h2 style="text-align: center;">Vectorizer.cn 帮助您将图片转换为矢量化，高清高精度，无限次使用。</h2>


        <div class="ok-home-block" style="background-color: #d6d6d6;">
            <h1 class="ok-front-main-title">智能矢量化团队</h1>
            <div class="info-column-faq">
                <div class="two-column">
                    <p class="info-cell" style="font-weight: 500;  text-align: left;">我们是谁？</p>
                    <p class="info-cell" style="text-align: left;">
                        我们团队是来自世界各地的图像处理工程师组合而成的。</p>
                    <p class="info-cell" style="font-weight: 500;  text-align: left;">我们为什么要自主研发？</p>
                    <p class="info-cell" style="text-align: left;">
                        设计师矢量化一张图片需要数分钟，而我们只需要不到10秒，目前市面上的矢量化工具对低清图的转换效果非常差，而我们团队想改变，想创新，想做的更好。</p>
                </div>

                <div class="two-column">
                    <p class="info-cell" style="font-weight: 500;  text-align: left;">我们的目标?</p>
                    <p class="info-cell" style="text-align: left;">
                        我们的目标是解放用户的双手，将繁琐的设计任务转化为人工智能驱动的图像
                        只需单击一下即可完成的处理工作。</p>
                    <p class="info-cell" style="font-weight: 500;  text-align: left;">我们的计划</p>
                    <p class="info-cell" style="text-align: left;">
                        我们计划在未来以满足用户对该功能的广泛需求，我们努力创建一个能够有效实现这一功能的
                        性能，并适合每个人使用。</p>
                </div>
            </div>
        </div>

        <h1 class="ok-front-main-title">联系我们</h1>
        <h2 style="text-align: center;">公众号:<a href="">位图转矢量</a></h2>


    </div>
</main>

{% endblock content %}