{% load static %}

<script src="{% static 'js/cookie.js' %}"></script>

<head>
    <link href="{% static 'css/cookie.css' %}" rel="stylesheet">
</head>
<div class="ok-cookie-container">
    <div>
        <h3>Cookie Policy</h3>
        <p>We use cookies to enhance your experience and personalize content. By continuing to browse this site, you are
            agreeing to our use of cookies.</p>
    </div>
    <div>
        <a class="ok-accept-cookie" style="color: white;">Accept All Cookie</a>
        <a class="ok-cookielearn-more" href="policies/privacy/">Learn More</a>
    </div>
</div>