{% extends "base.html" %}
{% load static %}

{% block content %}

<head>
    <link href="{% static 'css/blog.css' %}" rel="stylesheet">
    <link href="{% static 'css/home.css' %}" rel="stylesheet">
    <title>Terms of Service - PixelOpen.COM</title>
    <meta name="description" content="Terms of Service">
</head>
<main>
    <div style="width: 70%;margin: 0 auto;  ">
        <h1 class="ok-front-main-title" style="text-align: center;">PixelOpen.COM Terms of Service</h1>
        <h2>Effective Date: Oct 07, 2024.</h2>

        <h1 class="ok-front-main-title" style="font-size: 30px;">PixelOpen.COM Terms of Use</h1>
        <h2>PLEASE READ THESE TERMS OF USE ("AGREEMENT" OR "TERMS OF USE") CAREFULLY BEFORE UTILIZING THE SERVICES
            PROVIDED BY PIXELOPEN ("COMPANY"). THIS AGREEMENT ESTABLISHES THE LEGALLY BINDING TERMS AND CONDITIONS FOR
            YOUR UTILIZATION OF VARIOUS WEBSITES OWNED AND OPERATED BY THE COMPANY, INCLUDING BUT NOT LIMITED TO THE
            VECTORIZER.AI WEBSITE AND DOMAIN NAME ("SITES"), ALONG WITH ANY ADDITIONAL FEATURES, CONTENT, OR
            APPLICATIONS PROVIDED BY THE COMPANY FROM TIME TO TIME IN ASSOCIATION WITH THEM (COLLECTIVELY REFERRED TO AS
            THE "SERVICE"). YOUR USE OF THE SITES OR SERVICE IN ANY MANNER, SUCH AS VISITING OR BROWSING THE SITES,
            CONSTITUTES YOUR AGREEMENT TO BE BOUND BY THIS AGREEMENT. THIS AGREEMENT IS APPLICABLE TO ALL USERS OF THE
            SITES OR SERVICE.</h2>

        <h1 class="ok-front-main-title" style="font-size: 30px;">Acceptance of Terms</h1>
        <h2>The Service is offered conditional upon acceptance, without any modification, of all the terms and
            conditions outlined herein (collectively referred to as the "Terms of Use"), as well as any other operating
            rules, policies, and procedures that may be published on the Sites by the Company from time to time.
            Furthermore, certain services offered through the Service may be subject to additional terms and conditions
            that may be issued by the Company periodically. Your utilization of such services will be governed by those
            supplementary terms and conditions, which are deemed to be incorporated into these Terms of Use by
            reference.
        </h2>
        <h2>The Service is available only to corporations and to individuals who are at least 18 years old. You
            represent
            and warrant that if you are an individual, you are of legal age to form a binding contract and are at least
            18
            years old, and that all registration information you submit is accurate and truthful. Company may, in its
            sole
            discretion, refuse to offer the Service to any person or entity and change its eligibility criteria at any
            time.
            This provision is void where prohibited by law and the right to access the Service is revoked in such
            jurisdictions.</h2>

        <h1 class="ok-front-main-title" style="font-size: 30px;">Modification of Terms of Use</h1>
        <h2>The Company reserves the right, at its sole discretion, to modify or replace any of the Terms of Use, or to
            alter, suspend, or terminate the Service (including, but not limited to, the availability of any feature,
            database, or content) at any time by publishing a notice on the Sites or by sending you an email. The
            Company may also impose restrictions on certain features and services or limit your access to parts or all
            of the Service without prior notice or liability. It is your responsibility to periodically review the Terms
            of Use for any updates. Your continued use of the Service after any modifications to the Terms of Use have
            been posted signifies your acceptance of those changes.
        </h2>

        <h1 class="ok-front-main-title" style="font-size: 30px;">Registration</h1>
        <h2>As a prerequisite for using certain parts of the Service, you must register with the Company and provide a
            valid email address ("Company User ID") along with a chosen password. You are required to furnish the
            Company with accurate, comprehensive, and updated registration details. Registering for multiple accounts is
            prohibited. If you need to update your email address, please contact the Company using the options provided
            on the Website. Failing to adhere to these guidelines will constitute a breach of the Terms of Use, which
            may lead to the immediate termination of your Company account.

            You must not:

            (i) Choose or utilize as a Company User ID an email address belonging to another individual with the
            intention of impersonating them.
            (ii) Use as a Company User ID an email address that is subject to the rights of someone other than yourself
            without the appropriate authorization.
            (iii) Use as a Company User ID an email address that is offensive, vulgar, or obscene in any way.
            (iv) Use as a Company User ID an email address where you are unable to receive emails.

            The Company reserves the right to deny registration or cancel a Company User ID at its sole discretion. You
            are solely accountable for any activity that occurs on your account and must keep your Company password
            confidential. You must never use or attempt to access another user's account without their explicit
            permission. If you become aware of any unauthorized use of your account or any other security breach related
            to your account, you must immediately notify the Company in writing.
        </h2>

        <h1 class="ok-front-main-title" style="font-size: 30px;">Fees and Payment</h1>
        <h2>The Company has the right to charge fees for specific features of the Service. If you decide to use these
            features, you agree to pay all applicable fees as outlined on the Sites related to those features. The
            Company reserves the right to update its pricing and introduce new charges at any time without prior notice.
            By continuing to use the Service, you accept any new or increased charges.
        </h2>

        <h1 class="ok-front-main-title" style="font-size: 30px;">Third Party Sites</h1>
        <h2>The Service may provide you with links to other websites or resources on the Internet, and other websites or
            resources may contain links to the Sites. When you access third party websites, you do so at your own risk.
            These other websites are not under Company's control, and you acknowledge that Company is not responsible or
            liable for the content, functions, accuracy, legality, appropriateness or any other aspect of such websites
            or
            resources. The inclusion of any such link does not imply endorsement by Company or any association with its
            operators. You further acknowledge and agree that Company shall not be responsible or liable, directly or
            indirectly, for any damage or loss caused or alleged to be caused by or in connection with the use of or
            reliance on any such Content, goods or services available on or through any such website or resource.
        </h2>

        <h1 class="ok-front-main-title" style="font-size: 30px;">Company and Site Content</h1>
        <h2>You acknowledge that the Service includes Content provided by the Company or its partners, which is
            protected by copyrights, trademarks, service marks, patents, trade secrets, and other proprietary rights and
            laws. You agree to comply with all copyright notices, information, and restrictions associated with any
            Content accessed through the Service. You are prohibited from selling, licensing, renting, modifying,
            distributing, copying, reproducing, transmitting, publicly displaying, publicly performing, publishing,
            adapting, editing, creating derivative works from, or otherwise exploiting any Content or third-party
            submissions or other proprietary rights that are not owned by you, without the consent of the respective
            owners or other valid right, and in any way that violates any third-party right.
        </h2>

        <h1 class="ok-front-main-title" style="font-size: 30px;">Private User Submissions</h1>
        <h2>The Service may provide you with the ability to upload images or other data for processing ("Private User
            Submissions"). By uploading Private User Submissions to the Service, you: </h2>
        <ul>
            <li>
                <h2>You hereby grant the Company a worldwide, non-exclusive, perpetual, irrevocable, royalty-free, fully
                    paid, sublicensable, and transferable license to use, modify, reproduce, distribute, prepare
                    derivative works of, display, perform, and otherwise fully exploit your Private User Submissions as
                    necessary to provide you with the Service. It is important to note that this license grant does not
                    impact your other ownership or license rights in your User Submission(s), including the right to
                    grant additional licenses to the material in your User Submission(s), unless otherwise agreed in
                    writing.</h2>
            </li>
            <li>
                <h2>represent and warrant that you own or otherwise control all rights to such Private User
                    Submissions and
                    that
                    use of such Private User Submissions by Company will not infringe or violate the rights of any third
                    party;</h2>
            </li>
        </ul>

        <h1 class="ok-front-main-title" style="font-size: 30px;">Partially Public User Submissions</h1>
        <h2>The Service may provide you with the option of sharing or otherwise making partially public some or all of
            your
            Private User Submissions ("Partially Public User Submission"). By choosing to use such features you: </h2>
        <ul>
            <li>
                <h2>acknowledge that you will be provided with Secret Information enabling access to the Partially
                    Public
                    User
                    Submissions and that you are solely responsible for the care and safekeeping of such Secret
                    Information.</h2>
            </li>
            <li>
                <h2>hereby do and shall grant Company a worldwide, non-exclusive, perpetual (except as indicated below),
                    irrevocable (except as indicated below), royalty-free, fully paid, sublicensable and transferable
                    license to
                    use, modify, reproduce, distribute, prepare derivative works of, display, perform, and otherwise
                    fully
                    exploit the Partially Public User Submissions as needed to provide any user who provides the Secret
                    Information with the Services. You also hereby do and shall grant each user of the Sites and/or the
                    Service
                    who provides the Secret Information a non-exclusive license to access your Partially Public User
                    Submissions
                    through the Sites and the Service, and to use, modify, reproduce, distribute, prepare derivative
                    works
                    of,
                    display and perform such Partially Public User Submissions as permitted through the functionality of
                    the
                    Sites and the Service and under these Terms of Use. For clarity, the foregoing license grant to
                    Company
                    does
                    not affect your other ownership or license rights in your Partially Public User Submission(s),
                    including
                    the
                    right to grant additional licenses to the material in your Partially Public User Submission(s),
                    unless
                    otherwise agreed in writing;</h2>
            </li>
            <li>
                <h2>represent and warrant that you own or otherwise control all rights to such Partially Public User
                    Submissions
                    and that disclosure and use of such Partially Public User Submissions by Company (including without
                    limitation, publishing content on or at the Sites) will not infringe or violate the rights of any
                    third
                    party; and</h2>
            </li>
            <li>
                <h2>understand that Company shall have the right to reformat, excerpt, or translate any materials,
                    content
                    or
                    information submitted by you; and that all information publicly posted or privately transmitted
                    through
                    the
                    Sites is the sole responsibility of the person from which such content originated and that Company
                    will
                    not
                    be liable for any errors or omissions in any content.</h2>
            </li>
            <h2>The Service may, at the Company's sole discretion, provide you with the option of revoking the partially
                public nature of your Partially Public User Submissions. Should you choose to exercise such option when
                provided, the Partially Public User Submission shall from that point be considered a Private User
                Submission.</h2>
        </ul>

        <h1 class="ok-front-main-title" style="font-size: 30px;">User Submissions</h1>
        <h2>Private, Partially Public and Public User Submissions are collectively referred to as User Submissions.
        </h2>

        <h1 class="ok-front-main-title" style="font-size: 30px;">Use of Results Produced in the Use of the Service</h1>
        <h2>The Service may provide you with derivative works of User Submissions ("Results"). The Company makes no
            claims
            to these Results, and you assume all responsibility and liability in the enabling of access to, download and
            subsequent use of them.</h2>

        <h2> You shall not use the Results to decipher, decompile, disassemble, reverse engineer or otherwise attempt to
            derive any source code or underlying ideas or algorithms embodied in the Results, except to the limited
            extent
            applicable laws specifically prohibit such restriction.</h2>

        <h1 class="ok-front-main-title" style="font-size: 30px;">Termination</h1>
        <h2>Company may terminate your access to all or any part of the Service at any time, with or without cause, with
            or
            without notice, effective immediately, which may result in the forfeiture and destruction of all information
            associated with your membership. If you wish to terminate your account, you may do so by following the
            instructions on the Sites. Any fees paid hereunder are non-refundable. All provisions of the Terms of Use
            which
            by their nature should survive termination shall survive termination, including, without limitation,
            ownership
            provisions, warranty disclaimers, indemnity and limitations of liability.</h2>

        <h1 class="ok-front-main-title" style="font-size: 30px;"> Warranty Disclaimer</h1>
        <h2>Company has no special relationship with or fiduciary duty to you. You acknowledge that Company has no
            control
            over, and no duty to take any action regarding: which users gains access to the Website; what Content you
            access
            via the Website; what effects the Content may have on you; how you may interpret or use the Content; or what
            actions you may take as a result of having been exposed to the Content. You release Company from all
            liability
            for you having acquired or not acquired Content through the Sites. The Sites may contain, or direct you to
            websites containing, information that some people may find offensive or inappropriate. Company makes no
            representations concerning any content contained in or accessed through the Sites, and Company will not be
            responsible or liable for the accuracy, copyright compliance, legality or decency of material contained in
            or
            accessed through the Sites.</h2>
        <h2>THE SERVICE (INCLUDING, WITHOUT LIMITATION, ANY CONTENT) IS PROVIDED "AS IS" AND "AS AVAILABLE" AND IS
            WITHOUT
            WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF TITLE,
            NON-INFRINGEMENT, MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE, AND ANY WARRANTIES IMPLIED BY ANY
            COURSE
            OF PERFORMANCE OR USAGE OF TRADE, ALL OF WHICH ARE EXPRESSLY DISCLAIMED. COMPANY, AND ITS DIRECTORS,
            EMPLOYEES,
            AGENTS, SUPPLIERS, PARTNERS AND CONTENT PROVIDERS DO NOT WARRANT THAT: (A) THE SERVICE WILL BE SECURE OR
            AVAILABLE AT ANY PARTICULAR TIME OR LOCATION; (B) ANY DEFECTS OR ERRORS WILL BE CORRECTED; (C) ANY CONTENT
            OR
            SOFTWARE AVAILABLE AT OR THROUGH THE SERVICE IS FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS; OR (D) THE
            RESULTS
            OF USING THE SERVICE WILL MEET YOUR REQUIREMENTS. YOUR USE OF THE SERVICE IS SOLELY AT YOUR OWN RISK.</h2>
        <h2>SOME STATES DO NOT ALLOW LIMITATIONS ON HOW LONG AN IMPLIED WARRANTY LASTS, SO THE ABOVE LIMITATIONS MAY NOT
            APPLY TO YOU.</h2>
        <h2>Electronic Communications Privacy Act Notice (18USC 2701-2711): COMPANY MAKES NO GUARANTY OF CONFIDENTIALITY
            OR
            PRIVACY OF ANY COMMUNICATION OR INFORMATION TRANSMITTED ON THE SITES OR ANY WEBSITE LINKED TO THE SITES.
            Company
            will not be liable for the security of email addresses, registration and identification information, disk
            space,
            communications, confidential or trade-secret information, or any other Content stored on Company's
            equipment,
            transmitted over networks accessed by the Sites, or otherwise connected with your use of the Service.</h2>

        <h1 class="ok-front-main-title" style="font-size: 30px;">General Content Disclaimer</h1>
        <h2>The Content provided by or through the Service is provided as is. Company makes no representations or
            warranties
            concerning the appropriateness, accuracy, reliability, usefulness, completeness, or timeliness of such
            Content.
            No Content is intended to substitute for personal advice from a qualified professional. When applicable,
            always
            seek the advice of a qualified professional, and never disregard professional advice or delay in seeking it
            because of any Content.
        </h2>
        <h2>By using the Service, you agree that Company shall not be responsible for (1) any Content, (2) any person's
            reliance on any such Content, whether or not correct, current and complete, or (3) the consequences of any
            action that you or any other person takes or fails to take based on any Content or otherwise as a result of
            your
            use of the Service.</h2>
        <h1 class="ok-front-main-title" style="font-size: 30px;">LIMITATION OF LIABILITY</h1>
        <h2>IN NO EVENT SHALL COMPANY, NOR ITS DIRECTORS, EMPLOYEES, AGENTS, PARTNERS, SUPPLIERS OR CONTENT PROVIDERS,
            BE
            LIABLE UNDER CONTRACT, TORT, STRICT LIABILITY, NEGLIGENCE OR ANY OTHER LEGAL OR EQUITABLE THEORY WITH
            RESPECT TO
            THE SERVICE (INCLUDING, WITHOUT LIMITATION, ANY CONTENT) (I) FOR ANY LOST PROFITS, DATA LOSS, COST OF
            PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES, OR SPECIAL, INDIRECT, INCIDENTAL, PUNITIVE, OR CONSEQUENTIAL
            DAMAGES OF ANY KIND WHATSOEVER, SUBSTITUTE GOODS OR SERVICES (HOWEVER ARISING), (II) FOR ANY BUGS, VIRUSES,
            TROJAN HORSES, OR THE LIKE (REGARDLESS OF THE SOURCE OF ORIGINATION), (III) FOR YOUR RELIANCE ON THE SERVICE
            OR
            (IV) FOR ANY DIRECT DAMAGES IN EXCESS OF (IN THE AGGREGATE) ONE-HUNDRED U.S. DOLLARS ($100.00). SOME STATES
            DO
            NOT ALLOW THE EXCLUSION OR LIMITATION OF INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE LIMITATIONS AND
            EXCLUSIONS MAY NOT APPLY TO YOU.
        </h2>
        <h1 class="ok-front-main-title" style="font-size: 30px;">Dispute Resolution</h1>
        <h2>A printed version of the Terms of Use and of any notice given in electronic form shall be admissible in
            judicial
            or administrative proceedings based upon or relating to the Terms of Use to the same extent and subject to
            the
            same conditions as other business documents and records originally generated and maintained in printed form.
            You
            and Company agree that any cause of action arising out of or related to the Service must commence within one
            (1)
            year after the cause of action arose; otherwise, such cause of action is permanently barred.
        </h2>
        <h1 class="ok-front-main-title" style="font-size: 30px;">Integration and Severability</h1>
        <h2>The Terms of Use are the entire agreement between you and Company with respect to the Service and use of the
            Sites, and supersede all prior or contemporaneous communications and proposals (whether oral, written or
            electronic) between you and Company with respect to the Sites. If any provision of the Terms of Use is found
            to
            be unenforceable or invalid, that provision will be limited or eliminated to the minimum extent necessary so
            that the Terms of Use will otherwise remain in full force and effect and enforceable. The failure of either
            party to exercise in any respect any right provided for herein shall not be deemed a waiver of any further
            rights hereunder.
        </h2>
        <h1 class="ok-front-main-title" style="font-size: 30px;">Miscellaneous</h1>
        <h2>Company shall not be liable for any failure to perform its obligations hereunder where such failure results
            from
            any cause beyond Company's reasonable control, including, without limitation, mechanical, electronic or
            communications failure or degradation (including "line-noise" interference). The Terms of Use are personal
            to
            you, and are not assignable, transferable or sublicensable by you except with Company's prior written
            consent.
            Company may assign, transfer or delegate any of its rights and obligations hereunder without consent. No
            agency,
            partnership, joint venture, or employment relationship is created as a result of the Terms of Use and
            neither
            party has any authority of any kind to bind the other in any respect. In any action or proceeding to enforce
            rights under the Terms of Use, the prevailing party will be entitled to recover costs and attorneys' fees.
            All
            notices under the Terms of Use will be in writing and will be deemed to have been duly given when received,
            if
            personally delivered or sent by certified or registered mail, return receipt requested; when receipt is
            electronically confirmed, if transmitted by facsimile or e-mail; or the day after it is sent, if sent for
            next
            day delivery by recognized overnight delivery service.
        </h2>
        <h1 class="ok-front-main-title" style="font-size: 30px;">Copyright and Trademark Notices</h1>
        <h2>Unless otherwise indicated, the Terms of Use and all Content provided by Company are copyright © PixelOpen
            All rights reserved.

            The names of actual companies and products mentioned at the Sites may be the trademarks of their respective
            owners.
        </h2>
    </div>
</main>

{% endblock content %}